.nav-container {
    background: transparent;
    display: flex;
    overflow: hidden;
    transition: 0.4s;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 99;

    .nav-left{
        margin: 2%;
        margin-top: 3%;
    }

    .nav-center{
        display: flex;
        margin-left: auto;
        margin-top: 1%;
        font-size: 30px;
        padding-left: 35px;
    
        .number{
            font-size: 50px;
            
        }

    }

    .nav-right{
        margin-left: auto;
        margin-right: 30px;


        .nav-list {
            margin: 50px;
            display: inline-flex;
        }

        
    }
    .nav-right-mobile{
        display: none;
    }
    
    
    .nav-item{
        padding-right: 40px;
        font-size: 20px;
    }
}



@media only screen and (max-width: 1070px) {
    .nav-container {
        .nav-left {
            display: none;
        }
        .nav-center{
            margin-top: 2%;
            margin-left: 0;
            .number{
                font-size: 35px;
            }
        }
        .nav-right{
            display: none;
        }
        .nav-right-mobile{
            display: flex;
            margin-left: auto;
            margin-top: 1%;
            margin-right: 10%;
        }
    }
    .nav-container.active{
        height: 80px;
    }
}

@media only screen and (max-width: 740px) {
    .nav-container {
        .nav-left{
            display: none;
        }
        .nav-center{
            margin-top: 2%;
            margin-left: 0;
            .number{
                font-size: 30px;
            }
        }
        .nav-right{
            .nav-list{
                display: none;
            }
        }
        .nav-right-mobile{
            display: flex;
        }
    }
}


.nav-container.active{
    background-color: black;
}


