.nav-container {
    background: transparent;
    display: flex;
    overflow: hidden;
    transition: 0.4s;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 99;

    .nav-left{
        margin: 2%;
    }

    .nav-center{
        display: flex;
        margin-left: auto;
        margin-top: 1%;
        font-size: 30px;

        .number{
            font-size: 50px;
        }

    }

    .nav-right{
        margin-left: auto;
        margin-right: 30px;

        .nav-list {
            margin: 50px;
            display: inline-flex;
        }
        .hamburger{
            display: hidden;
        }
    }
    
    
    .nav-item{
        padding-right: 40px;
        font-size: 20px;
    }
}

@media only screen and (max-width: 1042px) {
    .nav-container {
        .nav-left h1{
            font-size: 30px;
        }
        .nav-center{
            margin-left: auto;
            margin-right: 3%;
            margin-top: 2%;
            .number{
                font-size: 40px;
            }
        }
        .nav-right{
            display: none;
        }
    }
}

@media only screen and (max-width: 740px) {
    .nav-container {
        .nav-center{
            display: none;
        }
        .nav-right{
            .nav-list{
                display: none;
            }
        }
    }
}

.nav-container.active{
    background-color: black;
}


