.nav-container {
    background: transparent;
    display: flex;
    overflow: hidden;
    transition: 0.4s;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 99;

    .nav-left{
        margin: 2%;
        margin-top: 3%;
    }

    .nav-center{
        display: block;
        margin-left: auto;
        margin-top: 1%;
        padding-left: 6%;
        .mobile-title{
            display: none;
            font-size: 50px;
        }
        .number{
            font-size: 55px;
        }

    }

    .nav-right{
        margin-left: auto;
        margin-right: 20px;


        .nav-list {
            margin-top: 50px;
            margin-left: 10px;
            display: inline-flex;

            .nav-item{
                padding-right: 30px;
                font-size: 20px;
            }

        }

        
    }
    .nav-right-mobile{
        display: none;

    }
    .nav-right-mobile-menu{
        display: none;
    }
    
    
    
}



@media only screen and (max-width: 1080px) {
    .nav-container {
        .nav-left {
            display: none;
        }
        .nav-center{
            margin-top: 2%;
            margin-left: 0;
            .mobile-title{
                display: block;
                font-size: 35px;
            }
            .number{
                font-size: 40px;
            }
        }
        .nav-right{
            display: none;
        }
        .nav-right-mobile{
            display: flex;
            margin-left: auto;
            margin-top: 1%;
            margin-right: 3%;
            .mobile-menu{
                .hamburger.active{
                    .hamburger-react{
                        z-index: 2;
                        color: black;
                    }
                }
            }
        }
        .nav-right-mobile-menu{
            display: block;
            height: 100%;
            width: 0;
            position: fixed;
            z-index: 1;
            top: 0;
            right: 0;
            background-color: #111;
            overflow-x: hidden;
            transition: 0.5s;
            padding-top: 60px;
            a{
                padding: 8px 8px 8px 32px;
                text-decoration: none;
                font-size: 25px;
                color: rgba(0, 0, 0, 0);
                display: block;
                transition: 0.5s ease-in-out;

                &:hover{
                    color: #f1f1f1;
                }
            }
            .closebtn {
                display: flex;
                margin-left: auto;
                margin-right: 10%;
                color: black;
                position: absolute;
                cursor: pointer;
                top: 0;
                right: 25px;
                font-size: 60px;
                margin-left: 50px;
            }
        }
        .nav-right-mobile-menu.active{
            background-color: lightgrey;
            width: 33.3%;
            a{
                color: black;
            }
            .closebtn {
                display: flex;
                margin-left: auto;
                margin-right: 10%;
                color: black;
                position: absolute;
                cursor: pointer;
                top: 0;
                right: 25px;
                font-size: 60px;
                margin-top: -2%;
            }
        }
    }
    .nav-container.active{
        height: 110px;
    }
}

@media only screen and (max-width: 740px) {
    .nav-container {
        .nav-left{
            display: none;
        }
        .nav-center{
            margin-top: 2%;
            margin-left: 0;
            .mobile-title{
                display: block;
                font-size: 30px;
            }
            .number{
                font-size: 35px;
                margin-top: 1%;
            }
        }
        .nav-right{
            .nav-list{
                display: none;
            }
        }
        .nav-right-mobile-menu{
            display: block;
            height: 100%;
            width: 0;
            position: fixed;
            z-index: 1;
            top: 0;
            right: 0;
            background-color: #111;
            overflow-x: hidden;
            transition: 0.5s;
            padding-top: 60px;
            a{
                padding: 8px 8px 8px 32px;
                text-decoration: none;
                font-size: 25px;
                color: black;
                display: block;
                transition: 0.3s;

                &:hover{
                    color: #f1f1f1;
                }
            }
            .closebtn {
                display: flex;

                color: black;
                position: absolute;
                cursor: pointer;
                top: 0;
                right: 25px;
                font-size: 60px;

                margin-left: auto;
                margin-top: 1%;
                margin-right: 10%;
            }
        }
        .nav-right-mobile-menu.active{
            background-color: lightgrey;
            width: 50%
        }
        
    }
}

@media only screen and (max-width: 450px) {
    .nav-container {
        .nav-left{
            display: none;
        }
        .nav-center{
            margin-top: 2%;
            margin-left: 0;
            .mobile-title{
                display: block;
                font-size: 25px;
            }
            .number{
                font-size: 30px;
            }
        }
        .nav-right{
            .nav-list{
                display: none;
            }
        }
        .nav-right-mobile-menu{
            display: block;
            height: 100%;
            width: 0;
            position: fixed;
            z-index: 1;
            top: 0;
            right: 0;
            background-color: #111;
            overflow-x: hidden;
            transition: 0.5s;
            padding-top: 60px;
            .closebtn {
                display: flex;
                margin-left: auto;
                margin-right: 10%;
                color: black;
                position: absolute;
                cursor: pointer;
                top: 0;
                right: 25px;
                font-size: 60px;
                margin-left: 50px;
            }
        }
        .nav-right-mobile-menu.active{
            background-color: lightgrey;
            width: 100%;
        }
        
    }
}


.nav-container.active{
    background-color: black;
    height: auto;
}


